* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #24315e;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*-==============just for trial================ */

/* =================khatam============== */

/* ==================navbar======================================== */
.navbar {
  background-image: url("./assets/images/1.jpg");
  position:sticky;
  top:0px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 10px;
}

.nav-item a {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: medium;
}

.download {
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #24315e;
  color: white;
  padding: 10px;
}

/* landing css */
.landing {
  background-image: url("./assets/images/1.jpg");
  display: flex;
  padding-top: 20px;
  z-index: -2;
  position: relative;
}
.landing1 {
  padding: 10%;
}
.lsp {
  font-size: 60px;
  font-weight: 600;
}
.alp {
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid black;
  background-color: white;
  text-decoration: none;
  margin: 30px;
}
.im img {
  height: 700px;
  margin-bottom: -5px;
}

/* blue background */
.bluebackground {
  background-image: url("./assets/images/background.jpg");
  display: block;
  padding-top: 40px;
}

.bb {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.cc {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cc span{
  color: antiquewhite;
   padding: 30px;
   font-size: 40px;
}
.cc span a{
  color: white;
  text-decoration: none;
}

/* <!-- section below bluebackground --> */
.tree {
  display: flex;
  justify-content: center;
  margin: 10%;
}

/* skills */
.skill {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}

.skillim {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  background-color: white;
  text-decoration: none;
  margin: 10px;
}

/* statics */
.statics {
  display: flex;
  justify-content: center;
}

.statics div span {
  font-size: 60px;
  text-decoration: underline;
}
.statics div {
  padding: 5%;
}

/*About  */

.about {
  background-image: url("./assets//images/about.jpg");
  display: flex;
  padding-right: 10%;
  padding-left: 18%;
}

.aboutnext {
  display: flex;
  padding-right: 10%;
  padding-left: 18%;
  padding-top: 10%;
}

/* portfolio section */
.port {
  display: flex;
  margin: 3%;
}
.port img {
  width: 100%;
  border: 2px solid #24315e;
  margin: 2%;
}

.con-label {
  display: flex;
}
.con:checked ~ .conarea {
  display: block;
  color: white;
  margin-top: 4%;
  font-size: larger;
  justify-content: center;
}

/* <!-- i am avialiable --> */
.avai {
  background-image: url("./assets/images/1.jpg");
  padding: 5%;
  text-align: center;
}

/* footer */
.footer {
  background-image: url("./assets/images/background.jpg");
  display: flex;
  padding: 10%;
}

@media screen and (max-width: 1040px) {

  .navbar-nav {
    flex-direction: column;
    display: none;
  }

  /* for span */
  .navbar-toggle-label {
    display: flex;
    font-size: 50px;
    padding: 20px;
  }

  .navbar-toggle:checked ~ .navbar-nav {
    display: flex;
  }

  /* landing section */
  .bb {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  .cc {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  
  .cc span{
    color: antiquewhite;
     padding: 20px;
     font-size: 30px;
  }

  /* <!-- section below bluebackground --> */
.tree {
  display: block;
  justify-content: center;
  margin: 7%;
}
.treeline{
  display: none;
}

/*About  */

.about {
  display: block;
}

/* footer */
.footer {
  display: block;
  padding: 10%;
}

/* about nert */
.aboutnext {
  display: block;
  padding-right: 10%;
  padding-left: 18%;
  padding-top: 5%;
}
}

@media screen and (max-width: 668px) {
  
  .im img {
    height: 700px;
    margin-left: -200px;
    margin-top: -100px;
    position: relative;
    z-index: -1;
  }
  .landing1{
    padding: 5%;    
  }

  /* landing section */
  .bb {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .cc {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .cc span{
    color: antiquewhite;
     padding: 15px;
     font-size: 18px;
  }
  /* <!-- section below bluebackground --> */
.tree {
  display: block;
  justify-content: center;
  margin: 10%;
}
.treeline{
  display: none;
}

/* skill */
.skill {
  display:block;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
}

/* statics */
.statics {
  display: block;
  text-align: center;
}

/*About  */

.about {
  display: block;
}

/* footer */
.footer {
  display: block;
  padding: 10%;
}
/* about next */
.aboutnext {
  display:block;
  padding-right: 10%;
  padding-left: 18%;
}
}
